@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Karla:ital@1&family=Kumbh+Sans&family=Overpass&family=Poppins:wght@500&family=Raleway&family=Roboto+Serif:ital,opsz,wght@0,8..144,300;1,8..144,200;1,8..144,300&family=Space+Grotesk:wght@500&family=Space+Mono:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Space Grotesk';
  font-size: 18px;
  background-image: url("../src/components/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  padding: 15px;
  margin: 3.5rem;
}

.img{
  display: grid;
  grid-auto-flow: row;
  
}
.container {
  display: flex;
  justify-content: space-between;
}
.inputs {
  display: grid;
  grid-auto-flow: row;
}
.inp {
  display: grid;
  grid-auto-flow: row;
  padding: 12px;
}
.inps {
   display: grid;
   grid-auto-flow: column;
   justify-content: space-between;
   
} 
.cvv{
  display: grid;
  grid-auto-flow: row;
  justify-content: space-between;
}
label{
font-size: 10px;
padding-bottom: 8px;
}
.front {
  padding-bottom: 3rem;
  padding-left: 7rem;
  z-index: 2;
}
.back {
  padding-left: 14rem;
}
.form {
  margin-top: 5rem;
  padding-right: 3rem;
}
input {
  width: 250px;
  height: 35px;
  border-radius: 8px;
  padding: 8px;
  color: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
  border-color: aliceblue;
}
.exp{
  width: 70px;
}
.year{
  display: flex;
  
}
.mon {
  display: flex;
  justify-content: space-between;
}
.cvc{
  width: 120px;
  
}

.btn{
  padding-top: 3rem;
  text-align: center;
}
button {
  width: 300px;
  height: 35px;
  font: inherit;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  border-radius: 8px;
  transition: transform 0.3s;
}
button:hover{
  transform: scale(1.1);
}
.cvt {
  display: grid;
  grid-auto-flow: row;
}
.feedback {
  text-align: center;
  font: inherit;
  padding: 10px;
  display: none;
}
.feedback h3 {
  font-weight: 500;
  padding: 10px;
}
.para {
  font-size: 12px;
  padding-bottom: 2rem;
  color: darkgray;
}
.img-container {
  position: relative;
}
.logo {
  position: absolute;
  z-index: 1;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: hsl(0, 0%, 100%);
  font: inherit;
  font-weight: 200;
  font-size: 18px;
  
}
.content h2 {
  font-weight: 300;
  font: inherit;
  letter-spacing: 5px;
}
/* .numb::before {
  content: "\00a0";
}
.numb::after {
  content: "\00a0";
}
.numb span {
  display: inline-block;
    padding: 0 5px;
} */
ul {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
li {
  list-style-type: none;
}
.numbe {
  position: absolute;
  top: 30.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: hsl(0, 0%, 100%);
  font: inherit;
  font-size: 12px;
}