@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Karla:ital@1&family=Kumbh+Sans&family=Overpass&family=Poppins:wght@500&family=Raleway&family=Roboto+Serif:ital,opsz,wght@0,8..144,300;1,8..144,200;1,8..144,300&family=Space+Grotesk:wght@500&family=Space+Mono:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Space Grotesk';
  font-size: 18px;
  background-image: url("../src/components/images/bg-main-desktop.png");
  background-repeat: no-repeat;
}

.img{
  display: grid;
  grid-auto-flow: row;
  
}
.container {
  display: flex;
}
.inputs {
  display: grid;
  grid-auto-flow: row;
}
.inp {
  display: grid;
  grid-auto-flow: row;
}
.inps {
  display: flex;
}