@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Karla:ital@1&family=Kumbh+Sans&family=Overpass&family=Poppins:wght@500&family=Raleway&family=Roboto+Serif:ital,opsz,wght@0,8..144,300;1,8..144,200;1,8..144,300&family=Space+Grotesk:wght@500&family=Space+Mono:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Space Grotesk';
  font-size: 18px;
  background-image: url("../src/components/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  padding: 15px;
  margin: 3.5rem;
}

.img{
  display: grid;
  grid-auto-flow: row;
  
}
.container {
  display: flex;
  justify-content: space-between;
}
.inputs {
  display: grid;
  grid-auto-flow: row;
}
.inp {
  display: grid;
  grid-auto-flow: row;
  padding: 12px;
}
.inps {
   display: grid;
   grid-auto-flow: column;
   justify-content: space-between;
   
} 
.cvv{
  display: grid;
  grid-auto-flow: row;
  justify-content: space-between;
}
.form {

}
.front {
  padding-bottom: 3rem;
  padding-left: 7rem;
}
.back {
  padding-left: 14rem;
}
.form {
  margin-top: 5rem;
}
input {
  width: 250px;
}
.exp{
  width: 70px;
}
.year{
  display: flex;
}
.mon {
  display: flex;
  justify-content: space-between;
}
.cvc{
  width: 120px;
}

.btn{
  padding-top: 5rem;
  text-align: center;
  width: 250px;
}